<?xml version="1.0" encoding="UTF-8"?>
<module>
    <field id="author">anuragk@complianceg.com</field>
    <field id="created">2022-11-07 16:29:51.055 +0000</field>
    <field id="homePageContent" text-type="text/html">
        <![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=RD-3786"></h1><p id="polarion_template_0">
  <br/>
</p><p id="polarion_template_1">THIS DOCUMENT HAS NO CONTENT YET.</p><p id="polarion_template_2">YOU CAN CREATE AND SAVE CONTENT NOW USING THIS EDITOR.</p><div id="polarion_wiki macro name=module-workitem;params=id=RD-3787|layout=1"></div><div id="polarion_wiki macro name=module-workitem;params=id=RD-3789|layout=3"></div><p id="polarion_2"></p>]]>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">System Risk Assesment</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                    </list>
                </item>
                <item id="type">toolchain</item>
            </struct>
            <struct>
                <item id="label">Test Script IQ</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                    </list>
                </item>
                <item id="type">test_script_IQ</item>
            </struct>
            <struct>
                <item id="label">Unscripted Test Case</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                    </list>
                </item>
                <item id="type">unscriptedTest</item>
            </struct>
            <struct>
                <item id="label">Test Script OQ</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                    </list>
                </item>
                <item id="type">test_script_OQ</item>
            </struct>
        </list>
    </field>
    <field id="status">in_draft</field>
    <field id="structureLinkRole">relates_to</field>
    <field id="title">Dummy Document</field>
    <field id="type">generic</field>
    <field id="usesOutlineNumbering">true</field>
    <field id="version" type="string">1</field>
</module>
