<?xml version="1.0" encoding="UTF-8"?>
<module>
    <field id="author">111</field>
    <field id="created">2022-10-21 13:15:36.237 +0530</field>
    <field id="crossReferenceMappingData">apgennix/APGE-525=apgennix/APGE-592,apgennix/APGE-534=apgennix/APGE-593,apgennix/APGE-518=apgennix/APGE-590,apgennix/APGE-516=apgennix/APGE-589,apgennix/APGE-583=apgennix/APGE-594,apgennix/APGE-519=apgennix/APGE-591</field>
    <field id="homePageContent" text-type="text/html">
        <![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=APGE-589"></h1><div id="polarion_wiki macro name=module-workitem;params=id=APGE-590|layout=1"></div><p id="polarion_1"></p><div id="polarion_wiki macro name=module-workitem;params=id=APGE-591|layout=1"></div><p id="polarion_2"></p><div id="polarion_wiki macro name=module-workitem;params=id=APGE-592|layout=1"></div><div id="polarion_wiki macro name=module-workitem;params=id=APGE-593|layout=1"></div><div id="polarion_editor_html_block1" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">#documentPanel(true &quot;approved&quot;)</pre>
</div><p id="polarion_3"></p><div id="polarion_wiki macro name=module-workitem;params=id=APGE-594|layout=1"></div><div id="polarion_editor_html_block2" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">{regiontitle}
ApUnit
{regiontitle}
----

{workitems:type:ap AND status:open| 
 top=10 | fields=id, title, status, timePoint}
----</pre>
</div><p id="polarion_4"></p>]]>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Task</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                    </list>
                </item>
                <item id="type">task</item>
            </struct>
            <struct>
                <item id="label">Supplier Requirement</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id,author,project</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">name,country,state,addr</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                            <item id="value">true</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">id,name,country,state,addr,author,project</item>
                        </struct>
                    </list>
                </item>
                <item id="type">sr</item>
            </struct>
        </list>
    </field>
    <field id="status">published</field>
    <field id="structureLinkRole">parent</field>
    <field id="title">Ap unit test</field>
    <field id="type">generic</field>
    <field id="usesOutlineNumbering">true</field>
    <field id="version" type="string">1.0</field>
</module>
