<?xml version="1.0" encoding="UTF-8"?>
<module>
    <field id="author">admin</field>
    <field id="created">2022-09-05 16:21:55.809 +0530</field>
    <field id="homePageContent" text-type="text/html">
        <![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=APGE-510"></h1><p id="polarion_template_0"></p><p id="polarion_template_1"></p><table id="polarion_wiki macro name=table;params=uid=1" class="polarion-Document-table" style="width: 80%;margin-left: auto;margin-right: auto;border: 1px solid #CCCCCC;empty-cells: show;border-collapse: collapse;">
  <tbody>
    <tr>
      <th style="font-weight: bold;background-color: #F0F0F0;text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">Usn</th>
      <th style="font-weight: bold;background-color: #F0F0F0;text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">name</th>
      <th style="font-weight: bold;background-color: #F0F0F0;text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">branch</th>
    </tr>
    <tr>
      <td style="text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">001</td>
      <td style="text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">a</td>
      <td style="text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">c</td>
    </tr>
    <tr>
      <td style="text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">002</td>
      <td style="text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">b</td>
      <td style="text-align: left;vertical-align: top;height: 12px;border: 1px solid #CCCCCC;padding: 5px;">d</td>
    </tr>
  </tbody>
</table><p id="polarion_template_2"></p><p id="polarion_1">
  This is a just test doc...<span id="polarion-comment:1"></span>
</p><p id="polarion_2"></p><p id="polarion_3"></p><p id="polarion_4"></p><p id="polarion_5"></p><p id="polarion_6"></p>]]>
    </field>
    <field id="outlineNumbering">
        <struct>
            <item id="prefix">ap</item>
        </struct>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Task</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status</item>
                        </struct>
                    </list>
                </item>
                <item id="type">task</item>
            </struct>
        </list>
    </field>
    <field id="status">draft</field>
    <field id="structureLinkRole">parent</field>
    <field id="title">Amar</field>
    <field id="type">generic</field>
    <field id="usesOutlineNumbering">true</field>
</module>
