<?xml version="1.0" encoding="UTF-8"?>
<module>
    <field id="author">sameeullas@complianceg.com</field>
    <field id="created">2021-11-11 14:42:21.552 +0000</field>
    <field id="crossReferenceMappingData">BMRAM/CSV-131=johnsonandjohnson/CSA-3662,BMRAM/CSV-130=johnsonandjohnson/CSA-3663,BMRAM/CSV-87=johnsonandjohnson/CSA-3661,BMRAM/CSV-128=johnsonandjohnson/CSA-3665,BMRAM/CSV-129=johnsonandjohnson/CSA-3664,BMRAM/CSV-247=johnsonandjohnson/CSA-3666</field>
    <field id="headingSidebarFields">severity,status</field>
    <field id="homePageContent" text-type="text/html">
        <![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=CSA-3661"></h1><p id="polarion_6">
  <span style="font-weight: bold;font-size: 14pt;line-height: 1.5;">Table of Contents</span>
</p><div id="polarion_wiki macro name=toc"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=CSA-3662"></h3><table id="polarion_1" style="margin-left: 0px;margin-right: 0px;border: medium;border-collapse: collapse;">
  <thead>
    <tr>
      <td colspan="2" style="background-color: #D9D9D9;width: 495.9pt;height: 0.25in;border: 1.33px solid #000000;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"><span style="font-size: 11pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Software Code and Structural Review</span><br/>
        </td>
    </tr>
  </thead> <tbody>
    <tr>
      <td style="width: 1.2in;height: 33.7pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Objective</span><br/>
        </td>
      <td style="width: 409.5pt;height: 33.7pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">To verify that the software is modular, annotated and does not contain dead or redundant code. </span><br/>
        </td>
    </tr>
    <tr>
      <td style="width: 1.2in;height: 26.05pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Pre-Requisite</span><br/>
        </td>
      <td style="width: 409.5pt;height: 26.05pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Individuals performing Code Review are required to have applicable programming language background.</span><br/>
        </td>
    </tr>
    <tr>
      <td style="width: 1.2in;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Procedure</span><br/>
        </td>
      <td style="width: 409.5pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="margin-left: 40px;">
          <span style="font-family: &#39;Times New Roman&#39;, Times, serif;"><span style="font-size: 12pt;line-height: 1.5;">1.</span><span style="font-weight: normal;font-style: normal;font-size: 8pt;line-height: 1.5;">     </span></span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Record the software ID and version of the software to be reviewed. (Section 2)</span> 
        </div>
        
        <div style="margin-left: 40px;">
          <span style="font-family: &#39;Times New Roman&#39;, Times, serif;"><span style="font-size: 12pt;line-height: 1.5;">2.</span><span style="font-weight: normal;font-style: normal;font-size: 8pt;line-height: 1.5;">     </span></span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">List each source code module. (Section 3)</span>  
        </div>
        
        <div style="margin-left: 40px;">
          <span style="font-family: &#39;Times New Roman&#39;, Times, serif;"><span style="font-size: 12pt;line-height: 1.5;">3.</span><span style="font-weight: normal;font-style: normal;font-size: 8pt;line-height: 1.5;">     </span></span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Record the corresponding System Design Specification (SDS) unique identifier(s) which covers the module. (Section 3)</span> 
        </div>
        
        <div style="margin-left: 40px;">
          <span style="font-family: &#39;Times New Roman&#39;, Times, serif;"><span style="font-size: 12pt;line-height: 1.5;">4.</span><span style="font-weight: normal;font-style: normal;font-size: 8pt;line-height: 1.5;">     </span></span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Review the software source code.</span> 
        </div>
        
        <div style="margin-left: 40px;">
          <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">NOTE:  When review of source code is not possible, provide a rationale in the Comment section. (Section 4)</span> 
        </div>
        
        <div style="margin-left: 40px;">
          <span style="font-family: &#39;Times New Roman&#39;, Times, serif;"><span style="font-size: 12pt;line-height: 1.5;">5.</span><span style="font-weight: normal;font-style: normal;font-size: 8pt;line-height: 1.5;">     </span></span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Ensure that all elements listed in the Acceptance Criteria have been addressed. (Section 4)</span> 
        </div>
        </td>
    </tr>
    <tr>
      <td style="width: 1.2in;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Acceptance Criteria</span><br/>
        </td>
      <td style="width: 409.5pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="margin-left: 40px;">
          <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">All elements listed in the Acceptance Criteria have been successfully met.</span> 
        </div>
        </td>
    </tr>
  </tbody>
</table><h3 id="polarion_wiki macro name=module-workitem;params=id=CSA-3663"></h3><table id="polarion_2" style="margin-left: 0px;margin-right: 0px;border: medium;border-collapse: collapse;">
  <tbody>
    <tr>
      <td style="background-color: #D9D9D9;width: 239.4pt;height: 16pt;border: 1.33px solid #000000;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">System Name </span> 
        </div>
        </td>
      <td style="background-color: #D9D9D9;width: 99pt;height: 16pt;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Version</span> 
        </div>
        </td>
    </tr>
    <tr>
      <td style="width: 239.4pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> 
        <div style="margin-left: 40px;">
          <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #0000FF;line-height: 1.5;">Insert System Name</span>  
        </div>
        </td>
      <td style="width: 99pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"><br/>
        </td>
    </tr>
  </tbody>
</table><h3 id="polarion_wiki macro name=module-workitem;params=id=CSA-3664"></h3><table id="polarion_3" style="width: 495.9pt;margin-left: 0px;margin-right: 0px;border: medium;border-collapse: collapse;">
  <tbody>
    <tr>
      <td style="background-color: #DFDFDF;width: 169.8pt;height: 19.3pt;border: 1.33px solid #000000;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Module Name</span> 
        </div>
        </td>
      <td style="background-color: #DFDFDF;width: 69.6pt;height: 19.3pt;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">SDS Identifier</span> 
        </div>
        </td>
      <td style="background-color: #DFDFDF;width: 98.1pt;height: 19.3pt;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Version</span> 
        </div>
        </td>
    </tr>
    <tr>
      <td style="width: 169.8pt;height: 0.3in;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
      <td style="width: 69.6pt;height: 0.3in;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
      <td style="width: 98.1pt;height: 0.3in;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
    </tr>
    <tr>
      <td style="width: 169.8pt;height: 0.3in;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
      <td style="width: 69.6pt;height: 0.3in;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
      <td style="width: 98.1pt;height: 0.3in;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
    </tr>
  </tbody>
</table><h3 id="polarion_wiki macro name=module-workitem;params=id=CSA-3665"></h3><table id="polarion_4" style="margin-left: 0px;margin-right: 0px;border: medium;border-collapse: collapse;">
  <thead>
    <tr>
      <td style="background-color: #D9D9D9;width: 3.45in;height: 16pt;border: 1.33px solid #000000;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Acceptance Criteria</span> 
        </div>
        </td>
      <td style="background-color: #D9D9D9;width: 153pt;height: 16pt;border-top: 1.33px solid #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Acceptance Criteria Met? (Yes/No/NA)</span> 
        </div>
        </td>
    </tr>
  </thead> <tbody>
    <tr>
      <td style="width: 3.45in;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">The source code is modular.</span><br/>
        </td>
      <td style="width: 153pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span> 
        </div>
        </td>
    </tr>
    <tr>
      <td style="width: 3.45in;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">The source code is annotated.</span><br/>
        </td>
      <td style="width: 153pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span> 
        </div>
        </td>
    </tr>
    <tr>
      <td style="width: 3.45in;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">The source code does not contain dead code.</span><br/>
        </td>
      <td style="width: 153pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span> 
        </div>
        </td>
    </tr>
    <tr>
      <td style="width: 3.45in;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">The source code does not contain redundant code.</span><br/>
        </td>
      <td style="width: 153pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span> 
        </div>
        </td>
    </tr>
    <tr>
      <td style="width: 3.45in;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">The source code is configured.</span><br/>
        </td>
      <td style="width: 153pt;height: 20pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
    </tr>
    <tr>
      <td style="width: 3.45in;height: 28.3pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">The source code meets coding standards. Record Coding Standard: _____________________________________</span><br/>
        </td>
      <td style="width: 153pt;height: 28.3pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
    </tr>
    <tr>
      <td style="width: 3.45in;height: 53.5pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-size: 11pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">The comparison of the version of the software to be qualified shows only expected code changes from the previous version.</span><br/>
        <span style="font-size: 11pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">(<span style="font-style: italic;">Record <span style="font-weight: bold;">NA</span> if initial installation).</span></span><br/>
        </td>
      <td style="width: 153pt;height: 53.5pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 0px #000000;padding: 0in 5.4pt;"> <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span><br/>
        </td>
    </tr>
    <tr>
      <td colspan="2" style="background-color: #D9D9D9;width: 495.9pt;height: 12.1pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> <span style="font-weight: bold;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;">Comments</span><br/>
        </td>
    </tr>
    <tr>
      <td colspan="2" style="width: 495.9pt;height: 53.5pt;border-top: 0px #000000;border-bottom: 1.33px solid #000000;border-right: 1.33px solid #000000;border-left: 1.33px solid #000000;padding: 0in 5.4pt;"> 
        <div style="text-align: center;margin-left: 0px;">
          <span style="font-size: 10pt;font-family: &#39;Times New Roman&#39;, Times, serif;line-height: 1.5;"> </span> 
        </div>
        </td>
    </tr>
  </tbody>
</table><h2 id="polarion_wiki macro name=module-workitem;params=id=CSA-3666"></h2><div id="polarion_editor_html_block1" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">#documentPanel(true &quot;approved&quot;)</pre>
</div><p id="polarion_7"></p><p id="polarion_template_0" style="margin-left: 0px;">
  <br/>
</p>]]>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Design Specification</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">severity,status</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">designspecification</item>
            </struct>
        </list>
    </field>
    <field id="status">in_draft</field>
    <field id="structureLinkRole">relates_to</field>
    <field id="title">Code Review Report</field>
    <field id="type">generic</field>
    <field id="version" type="string">1.0</field>
</module>
