<?xml version="1.0" encoding="UTF-8"?>
<module>
    <field id="author">admin</field>
    <field id="created">2019-06-12 20:50:05.648 +0000</field>
    <field id="headingSidebarFields">severity,status</field>
    <field id="homePageContent" text-type="text/html">
        <![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=CSV-86"></h1><p id="polarion_41">
  <span style="font-weight: bold;font-size: 14pt;line-height: 1.5;">Table of Contents</span>
</p><div id="polarion_wiki macro name=toc"></div><div id="polarion_wiki macro name=page_break;params=uid=1" contentEditable="false"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=CSV-282"></h3><p id="polarion_4">The purpose of this System Configuration and Design Specification (CDS) document is to define the system configuration and design specifications for Trackwise CAPA Management system. Specifically, Configuration Specifications identify the configurations (i.e. updates using out of box functionality) and Design Specifications identify the customizations (i.e. custom developed functionality). </p><h3 id="polarion_wiki macro name=module-workitem;params=id=CSV-89"></h3><p id="polarion_9">The scope of this CDS document applies only to Trackwise CAPA Workflow. </p><h3 id="polarion_wiki macro name=module-workitem;params=id=CSV-88"></h3><p id="polarion_1">
  <span style="font-weight: normal;font-style: normal;text-decoration: none;font-size: 10pt;font-family: &#39;Segoe UI&#39;, Selawik, &#39;Open Sans&#39;, sans-serif;color: #000000;background-color: #FFFFFF;line-height: 1.5;">This section defines the architecture of Trackwise CAPA Workflow</span>
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=CSV-91"></h3><p id="polarion_49">
  <span style="font-weight: normal;font-style: normal;text-decoration: none;font-size: 10pt;font-family: &#39;Segoe UI&#39;, Selawik, &#39;Open Sans&#39;, sans-serif;color: #000000;background-color: #FFFFFF;line-height: 1.5;">List all the applicable documents/references used as guidance in creation of this document are listed below: </span>
</p><p id="polarion_48" style="margin-left: 0px;text-align: center;" data-keep-next="true" class="polarion-rte-caption-paragraph">
  <span style="font-weight: bold;font-size: 8pt;font-family: Arial, Helvetica, sans-serif;line-height: 1.5;">Table <span data-sequence="Table" class="polarion-rte-caption">#</span> References</span>
</p><table id="polarion_wiki macro name=table;params=uid=49|width=62.59%" class="polarion-Document-table" style="font-weight: normal;font-style: normal;text-decoration: none;color: #000000;width: 62.59%;margin-left: auto;margin-right: auto;border: 1px solid #CCCCCC;empty-cells: show;border-collapse: collapse;">
  <tbody>
    <tr>
      <th style="font-weight: bold;background-color: #F0F0F0;text-align: left;vertical-align: top;width: 155px;height: 22px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> 
          <div style="text-align: center;"> Document Number  </div>
          </span></th>
      <th style="font-weight: bold;background-color: #F0F0F0;text-align: left;vertical-align: top;width: 294px;height: 22px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> 
          <div style="text-align: center;"> Document Title  </div>
          </span></th>
    </tr>
    <tr>
      <td style="font-size: 10pt;line-height: 1.5;text-align: left;vertical-align: top;width: 155px;height: 19.5px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> 
          <div style="text-align: center;">  CG-CSV-SOP</div>
          </span></td>
      <td style="font-size: 10pt;line-height: 1.5;text-align: center;vertical-align: top;width: 294px;height: 19.5px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> Computerized Systems Validation SOP<br/>
          </span></td>
    </tr>
    <tr>
      <td style="font-size: 10pt;line-height: 1.5;text-align: center;vertical-align: top;width: 155px;height: 28px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;">TWD-MAN-02<br/>
          </span></td>
      <td style="font-size: 10pt;line-height: 1.5;text-align: center;vertical-align: top;width: 294px;height: 28px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;">Trackwise Configuration Manual<br/>
          </span></td>
    </tr>
  </tbody>
</table><h3 id="polarion_wiki macro name=module-workitem;params=id=CSV-92"></h3><p id="polarion_2">List of all the applicable definitions/acronyms/abbreviations that are used within this document are listed below:</p><p id="polarion_51" style="margin-left: 0px;text-align: center;" data-keep-next="true" class="polarion-rte-caption-paragraph">
  <span style="font-weight: bold;font-size: 8pt;font-family: Arial, Helvetica, sans-serif;line-height: 1.5;">Table <span data-sequence="Table" class="polarion-rte-caption">#</span> References</span>
</p><table id="polarion_wiki macro name=table;params=uid=52|width=62.59%" class="polarion-Document-table" style="font-weight: normal;font-style: normal;text-decoration: none;color: #000000;width: 62.59%;margin-left: auto;margin-right: auto;border: 1px solid #CCCCCC;empty-cells: show;border-collapse: collapse;">
  <tbody>
    <tr>
      <th style="font-weight: bold;background-color: #F0F0F0;text-align: left;vertical-align: top;width: 156px;height: 22px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> 
          <div style="text-align: center;"> Acronym</div>
          </span></th>
      <th style="font-weight: bold;background-color: #F0F0F0;text-align: left;vertical-align: top;width: 293px;height: 22px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> 
          <div style="text-align: center;"> Definition</div>
          </span></th>
    </tr>
    <tr>
      <td style="font-size: 10pt;line-height: 1.5;text-align: left;vertical-align: top;width: 156px;height: 19.5px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> 
          <div style="text-align: center;">Coordinator</div>
          </span></td>
      <td style="font-size: 10pt;line-height: 1.5;text-align: center;vertical-align: top;width: 293px;height: 19.5px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;">Out of box feature in Trackwise used to configure notifications<br/>
          </span></td>
    </tr>
    <tr>
      <td style="font-size: 10pt;line-height: 1.5;text-align: center;vertical-align: top;width: 156px;height: 28px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;"> Web Services<br/>
          </span></td>
      <td style="font-size: 10pt;line-height: 1.5;text-align: center;vertical-align: top;width: 293px;height: 28px;border: 1px solid #CCCCCC;padding: 5px;"><span style="font-size: 11pt;line-height: 1.5;">API based custom service to build interfaces<br/>
          </span></td>
    </tr>
  </tbody>
</table><h3 id="polarion_wiki macro name=module-workitem;params=id=CSV-93"></h3><h4 id="polarion_wiki macro name=module-workitem;params=id=CSA-1241"></h4><p id="polarion_3" style="margin-left: 40px;">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">&lt; Briefly describe the data flow through the system.&gt;</span>
</p><p id="polarion_6" style="margin-left: 72px;">
  <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">-        <span style="font-style: italic;">Input:  Describe how data input shall occur.</span></span><span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;"> </span>
</p><p id="polarion_7">
  <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  -        <span style="font-style: italic;">Source of Information Input:  Define the source of the data to be entered; identify documents etc. </span></span>
</p><p id="polarion_8">
  <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  -        <span style="font-style: italic;">Control Parameter Input:  Describe the controls that shall be used to limit the input.</span></span>
</p><p id="polarion_10">
  <span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  -        <span style="font-style: italic;">Input Screen Formats:  Describe the screens used to input data.</span></span>
</p><p id="polarion_11">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  </span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">-        <span style="font-style: italic;">Processing:  Brief description of processes used to process data. </span></span>
</p><p id="polarion_12">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  </span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">-        <span style="font-style: italic;">Input Data Conversion:  Describe all conversions required during input. </span></span>
</p><p id="polarion_13">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  </span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">-        <span style="font-style: italic;">Validity Checks:  Describe all validity checks to be used during the update process. </span></span>
</p><p id="polarion_14">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  </span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">-        <span style="font-style: italic;">Algorithms:  Define all algorithms used during the update process.</span></span>
</p><p id="polarion_15">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">                  </span><span style="font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">-        <span style="font-style: italic;">Control Output:  Provide a brief description of the system output.</span></span>
</p><h4 id="polarion_wiki macro name=module-workitem;params=id=CSA-1239"></h4><p id="polarion_16" style="margin-left: 40px;">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #4F81BD;line-height: 1.5;">&lt;Define all calculations (e.g.: formulae) to be used during the process.&gt; </span>
</p><h4 id="polarion_wiki macro name=module-workitem;params=id=CSA-1240"></h4><p id="polarion_17" style="margin-left: 40px;">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #548DD4;line-height: 1.5;">&lt;Briefly describe individual software modules design for the system&gt;</span>
</p><h4 id="polarion_wiki macro name=module-workitem;params=id=CSA-1238"></h4><p id="polarion_18" style="margin-left: 40px;">
  <span style="font-style: italic;font-size: 12pt;font-family: &#39;Times New Roman&#39;, Times, serif;color: #548DD4;line-height: 1.5;">&lt;Applicable for Databases (e.g. Define all attributes for the database)&gt;</span>
</p><div id="polarion_wiki macro name=page_break;params=uid=2" contentEditable="false"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=CSV-246"></h2><div id="polarion_editor_html_block53" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false">#documentPanel(true &quot;approved&quot;)</pre>
</div><p id="polarion_54" style="text-align: center;">
  <span style="font-weight: bold;">END OF DOCUMENT</span>
</p>]]>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Design Specification</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">priority</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                            <item id="value">true</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                        <struct>
                            <item id="key">noPageBreak</item>
                        </struct>
                        <struct>
                            <item id="key">sidebarWorkItemFields</item>
                            <item id="value">priority</item>
                        </struct>
                        <struct>
                            <item id="key">typeNotInProject</item>
                        </struct>
                    </list>
                </item>
                <item id="type">designspecification</item>
            </struct>
        </list>
    </field>
    <field id="status">in_draft</field>
    <field id="structureLinkRole">relates_to</field>
    <field id="title">System Configuration / Design Specification</field>
    <field id="type">system_design_document</field>
    <field id="version" type="string">1.0</field>
</module>
